<%- model_class = Post -%>

<article>
  <header>
    <h2>
      <%= @post.title %>
    </h2>
  </header>
  <div>
    <section>
      <%= @post.content %>
    </section>
  </div>
</article>


<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              posts_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_post_path(@post), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              post_path(@post),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Delete ?')) },
              :class => 'btn btn-danger' %>
</div>
