<%- model_class = Post -%>

<article>
  <header>
    <h2>
      <%= @post.title %>
    </h2>
  </header>
  <div>
    <section>
      <%= @post.content %>
    </section>
  </div>
</article>

<h4>Comments</h4>
<%= render @post.comments %>

<h4>Leave Comments</h4>
<%= render "comments/form" %>

<div class="form-actions">
  <%= link_to 'Back', posts_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_post_path(@post), :class => 'btn' %>
  <%= link_to 'Delete',
              post_path(@post),
              :method => 'delete',
              :data => { :confirm => 'Delete ?' },
              :class => 'btn btn-danger' %>
</div>
